

.App {
  margin: 0 55px;
}
h2 {
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
}
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*min-width: 580px;*/
  width: 100%;
  flex: 1 1;
  min-height: 580px;
  box-sizing: border-box;
  height: 100%;
  align-items: stretch;
}

.week-days {
  width: 100%;
  /*margin: 10px 30px;*/
  display: flex;
  justify-content: center;
}
.week-day {
  display: inline-block;
  /*border-left: 1px solid #ddd;*/
  margin: 10px;
  flex-wrap: nowrap;
  width: 13%;
  font-size: 12px;
  text-align: right;
}


.month-calendar {
  position: relative;
  border: 1px solid #DDD;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 0;
  flex: 1 0;
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

.week-row {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 0;
  flex: 1 0;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
  border-bottom: 1px solid #DDD;
}
.week-row:last-child{
  border: none;
}

.bg-row {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1 0;
  flex: 1 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-row {
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}
.cell-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.day-bg {
  flex: 1 0;
  border-right: 1px solid #DDD;
}

.day-bg:last-child {
  border:none;
}

.date-cell, .native-event-cell{
  flex: 1 1;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}

.filter {
  align-self: flex-end;
}

